* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Gilroy';
}

// html, body {
//     width: 100%;
//     height: 100%;
// }

.footer {
   
      width: 100%;
      min-height: 28em;
      height: 28em;
      position: relative; /* Ensure footer stays at the bottom of the page */
  
    // max-height: 28em;
    .footer-container {
        width: 100%;
        height: 100%;
        // background-color: rgb(0, 0, 0);
        background: linear-gradient(45deg, rgba(35, 6, 62, 0.77), rgba(92, 79, 188, 0.562));
        display: flex;
        justify-content: space-between;
        align-items: center;
       
       
      .mobile-screenmain-heading{
        display: none;
      }
    }
}


.contact-info{
    height: 57%;
    width: 25%;
    // background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: -7.5rem;
    margin-left: 105px;
    color: aliceblue;
  h2{
    display: block;
    font-size: 3.5vw;
    // margin-top: -105px;
    // margin-left: -95px;
  }
  ul{
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content:right ;
    align-items: start;
    gap: 18px;
    font-size: 1.2vw;
    margin-top: -30px;
    // margin-left: -175px;
    li{
      a{
        color: white;
          
        &:hover {
          color :rgb(220, 72, 72);;
      }
      }
      
    }
  }
  button{
    padding: 10px 50px;
    font-size: 0.9rem;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(169, 95, 95);
    border: 1px solid transparent;
    border-radius: 5px;
    // margin-left: -60%;
    margin-top: -1rem;
     &:hover{
          background-color: rgb(172, 58, 58);
          transition: 900ms;
            }
    a{
      text-decoration: none;
      color:whitesmoke;
    }
  }
}







      //  height: 100%;
      //  width: 65%;
    //    background-color: blueviolet;

       form{
        // background-color: aquamarine;
        height: 100%;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        input{
          width: 40vw;
          padding: 13px 0 13px 0;
          border: 1px solid transparent;
          border-radius: 7px;
          margin-top: 0;
          margin-left: -100px;
          padding-left: 10px; 
        

        }
        textarea{
            width: 40vw;
            height: 170px;
            padding: 10px 0 10px 0;
            border: 1px solid transparent;
            border-radius: 7px;
            margin-left: -100px;
            resize: none;
            padding-left: 10px; 
        }
        .input-type{
            margin-top: -5rem;
        }
        button{
            padding: 10px 50px;
            font-size: 0.9rem;
            font-weight: 400;
            color: whitesmoke;
            background-color: rgb(197, 118, 118);
            border: 1px solid transparent;
            border-radius: 5px;
            margin-left: -56%;
            margin-top: -4rem;
            cursor: pointer;
            // margin-right: 480px;
            // position: fixed;
            &:hover{
              background-color: rgb(185, 71, 71);
              transition: 900ms;
            }
        }

       }


@media screen and (max-width: 1100px) {
    .footer .footer-container  form {
      
        input{
            width: 55vw;
            margin-left: -30px;
  
          }
          textarea{
              width: 55vw;
              margin-left: -30px; 
          }
          button{
            margin-left: -68%;
          }
    }
    .footer .footer-container .contact-info{
        height: 57%;
        width: 35%;
        margin-left: 65px;
        h2{
            font-size: 4vw;
        }
        ul{
            font-size: 1.3vw
        }
    }
}

@media screen and (max-width: 830px) {
 .footer .footer-container .email-form form {
      
     
          button{
            margin-left: -61.5%;
          }
    }

    .footer .footer-container .contact-info{
        height: 52%;
        width: 35%;
        // background-color: rgb(20, 161, 72);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-top: -8.7rem;
        margin-left: 20px;
        color: aliceblue;
      h2{
        font-size: 5vw;
        // margin-top: -105px;
        // margin-left: -95px;
      }
      ul{
        // background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content:right ;
        align-items: start;
        gap: 18px;
        font-size: 1.8vw;
        margin-top: -30px;
        // margin-left: -175px;
      }
      button{
        padding: 10px 22px;
        font-size: 0.9rem;
        font-weight: 400;
        color: whitesmoke;
        background-color: rgb(169, 95, 95);
        border: 1px solid transparent;
        border-radius: 5px;
        // margin-left: -60%;
        margin-top: -1rem;
      }
    }
    
    
}


@media screen and (max-width: 610px) {
  .footer {
    min-height: 36em;
  }.footer-container {
    
      min-height: 36em;
      height: auto;
    //  height: 38em ;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      // gap: 20px;
  }

  .footer .footer-container .mobile-screenmain-heading {
      display: block;
      color: white;
      margin-top: 10px;
     margin-left: -47%;
     font-size: 6vw;
  }

  .footer .footer-container .contact-info {
      width: 80%;
      // background-color: blueviolet;
      // height: 5.8rem;
      height: 130px;
      margin-left: 0;
      margin-top: 0px;
      order: 1;
      display: flex;
      justify-content: space-evenly;
      h2 {
          font-size: 7vw;
          display: none;
      }
      ul {
          font-size: 1.5vw;
          // background-color: aqua;
          flex-direction: row;
          margin-top: 0px;
          width: 100%;
          height: auto   ;
          justify-content: space-between;
          font-size: 0.8rem;
       svg{
        width: 12px;
        
       }

      }
      button {
          margin-left: 0;
          // margin-top: 10px;
        
          // position: sticky;
      }
  }

  .footer .footer-container {

      form {
          // background-color: red;
          height: auto;
          width: 80%;
          
          margin-top: 25px;
          // gap: 35px;
          input {
              width: 100%;
              margin-top: -0.1px;
              margin-left: 0;
          }
          textarea {
              width: 100%;
              margin-top: -1px;
              margin-left: 0;
          }
          button {
              margin-left: -67%;
              margin-top: 10px;
          }
      }
  }
}
.footer .footer-container .contact-info {


  ul {
   margin-top: 0px;
  }
}
@media screen and (max-width: 551px) {
  .footer .footer-container .mobile-screenmain-heading {
      margin-left: -52%;
      font-size: 7vw;
  }

  .footer .footer-container form {
      width: 90%;
      button {
          margin-left: -65%;
          // margin-top: 10px;
      }
  }

  .footer .footer-container .contact-info {
    width: 90%;
    order: 1;
    // background-color: bisque;
  
    ul {
      height: 30px;
      width: 100% !important;
        display: block !important;
        // margin-top: 10px !important;
        // background-color: aqua;
        font-size: 0.8rem;
        display: flex !important;
        flex-direction: row;
        
        // flex-wrap:wrap;
    }
    button {
        margin-left: 0;
        // margin-top: 30px;
    }
}
}

@media screen and (max-width: 450px) {
  .footer {
    // height: 32em;
    // min-height: 32em;
  .footer-container{
    .mobile-screenmain-heading{
      overflow: hidden;
    }

  
  .contact-info {
    width: 90%;
    height: 13.7rem;
    order: 1;
    // padding: 10px 0 10px 0;
    // gap: -20px;
    // background-color: rgb(53, 25, 115);
  
    ul {
      // height: auto;
      height: 6rem !important;
      // width: 100% !important;
        // display: block !important;
        margin-top: 0 !important;
        // background-color: aqua;
        font-size: 1rem;
        display: flex !important;
        flex-direction: column;
        position: relative;
        justify-content: space-between !important;
        // align-items: start !important;

        
        // flex-wrap:wrap;
        svg{
          width: 15px;
        }
        li{
          // margin-top: -5px;
          // height: 10rem;
          // background-color: brown;
          overflow: hidden;
        }
    }
    button {
        margin-left: 0;
        margin-top: 5px;

    }
}
  }

}
.footer .footer-container form {
  // background-color: aqua;
  
  button {
    
      margin-left: -55%;
      margin-top: 10px;
      overflow: hidden;

  }
}
}
@media screen and (max-width: 330px) {
  .footer .footer-container form {
    // background-color: aqua;
    
    button {
      
        margin-left: -45%;
        margin-top: 10px;
        overflow: hidden;
  
    }
  }
}